<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Elements
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      This is the card content, you can insert anything you want here!
    </ion-card-content>
  </ion-card>

  <ion-chip>
    <ion-chip-icon name="heart" color="dark"></ion-chip-icon>
    <ion-label>Chips :)</ion-label>
  </ion-chip>

  <ion-item>
    <ion-label>Avatar!</ion-label>
    <ion-avatar>
      <img src="assets/icon.png">
    </ion-avatar>
  </ion-item>

  <ion-item>
    <ion-label>Badges!</ion-label>
    <ion-badge slot="end">!!!</ion-badge>
  </ion-item>

  <ion-item>
    <ion-spinner name="dots"></ion-spinner>
    <ion-label>Spinners!</ion-label>
  </ion-item>
</ion-content>
